body {
	background-color: #0e0e0e;
	display: flex;
	justify-content: center;
	
	
}

.container {
	margin: 10px;
	width: 500px;
	padding: 10px;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	background-color: #7e8679;
}

.header {
	margin: 20px;
	color: #5e1212;
}

input {
	width: 370px;
	padding: 0.5rem 2rem;
	font-size: 3rem;
	border-radius: 10px;
	
	text-align: right;
    background-color: #125985;
	color: #2d2525;
}

.buttons {
	margin: auto;
	width: 450px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

button {
	padding: 40px;
	font-size: 15px;
	margin: 0.5rem;
	max-width: 100px;
	max-height: 100px;
	text-align: center;
	border-radius: 20%;
	font-weight: 900;
	background-color: #085672;
	color: #ede6e6;
}